<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.panlin_pan.myapplication" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyBaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singleactivity.BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
        </activity>
        <activity
            android:name=".singleactivity.WifiActivity"
            android:label="@string/title_activity_wifi" >
        </activity>
        <activity
            android:name=".singleactivity.PlaylistActivity"
            android:label="@string/title_activity_playlist" >
        </activity>
        <activity
            android:name=".singleactivity.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>

        <service android:name=".MyService1" />

        <receiver android:name=".MyBroadcastReceiver1" >
            <intent-filter>

                <!-- action android:name="android.intent.action.BOOT_COMPLETED"></action -->
                <action android:name="com.panlin.Custom_Intent" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".MyContentProvider1"
            android:authorities="com.example.panlin_pan.myapplication.MyContentProvider1" >
        </provider>

        <activity
            android:name=".singleactivity.StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme1" >
        </activity>
        <activity
            android:name=".Sweet"
            android:label="Sweet" >
            <intent-filter>
                <action android:name="android.intent.action.Sweet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singleactivity.DragDropActivity"
            android:label="@string/title_activity_drag_drop" >
        </activity>
        <activity
            android:name=".scenario_rotate.MyRotateActivity"
            android:label="@string/title_activity_my_rotate" >
        </activity>
        <activity
            android:name=".scenario_master_details.FragmentLayout"
            android:label="@string/title_activity_fragment_layout" >
        </activity>
        <activity
            android:name=".scenario_master_details.DetailActivity"
            android:label="DetailActivity" >
        </activity>
        <activity
            android:name=".scenario_master_details.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".scenario_slidemenu.SlideContainer"
            android:label="SlideMenu" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".starsmenu.StarsHolderActivity"
            android:label="@string/title_activity_stars_holder" >
        </activity>
    </application>

</manifest>
